---
layout: default
title: Chenxing Han
path: home
---

  
<header>
  <div class="header-left">
    <h1>
        {{title}}
    </h1>
    <p>
      Author, Speaker, Educator
    </p>
  </div>
  <nav class="header-right">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Books</a></li>
      <li><a href="#">Writing</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="about">
    <h2>Chenxing Han is a leading author, speaker, and educator at the intersection of Buddhism and Asian America.</h2>
    <div class="bio-and-headshot">
      <div class="bio">
        <p>
          Trained in Buddhist studies and chaplaincy, she is the author of <em>Be the Refuge: Raising the Voices of Asian American Buddhists</em> 
          and <em>one long listening: a memoir of grief, friendship, and spiritual care</em>. Her writing is taught in university, seminary, and 
          high school classrooms across the nation.
        </p>
        <p>
          Chenxing has given talks, workshops, and retreats at over a hundred communities and institutions, including Duke, 
          Emory, UC Berkeley, Spirit Rock, and the San Francisco Zen Center. Educated at Stanford University, the Graduate Theological Union, 
          and the Institute of Buddhist Studies, she has received fellowships from Hedgebrook, Hemera Foundation, and the University of Michigan.
        </p>
        <p>
          As a founder of Roots and Refuge, May We Gather, and Listening to the Buddhists in Our Backyard, 
          Chenxing strives to cultivate spaces for creative inquiry, spiritual kinship, and intergenerational learning. 
          She is currently at work on a treasury of Buddhist Asian America and a nonet of essays on practice and play.
        </p>
        <p>
          Click <a href="" target="_blank">here</a> for Chenxing’s CV.
        </p>
      </div>
      <div class="headshot">
        <img src="">
      </div>
    </div>
    <a class="primary-button" href="/about">Learn more about Chenxing →</a>
  </section>
  <section class="events">
    <h2>Upcoming Events</h2>
    <div class="events-container">

    </div>
    <div class="button-group">
      <a href="/events" class="primary-button">See all events</a>
      <a href="/speaking-inquiry" class="primary-button">Invite me to speak at your event</a>
    </div>
  </section>
  <section>
    <h2>Selected Writing</h2>
    
  </section>
    <section>
    <h2>Books</h2>

      <ul>
        <li>hi</li>
        {% for book in collections.books %}
          <li>
            <h3> {{ book.data.title }}</h3>
            <p> {{ book.data.description }}</p>
            <p> {{ book.data.main-quote-1 }}</p>
            <p> {{ book.data.main-quote-2 }}</p>
            <p> {{ book.data.quote }}</p>
          </li>
        {% endfor %}
      </ul>
    
  </section>
</main>




  <!-- {% include "./_includes/partials/content.html" %} -->
</div>